/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* styles/colors/colors.css */
:root {
  /* COLOR */
  --primary-color: #4176fc;
  --secondary-color: #fdfff7;
  --dark-blue-color: #293854;
  --black-color: #252525;
  --white-color: #fefefe;
  --lighter-primary-color: #4176fc8a;
  --gray-color: #c1c1c1;
  --blue-color: #4176fc;

  --text-color: var(--black-color);

  --card-shadow-color: rgba(0, 0, 0, 0.1);

  /* FONT */
  --primary-font-family: '__Montserrat_b1da2a', '__Montserrat_Fallback_b1da2a';
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--white-color);
  color: var(--black-color);
  font-family: var(--primary-font-family);
}

body:has(#darkmodeButton:checked) {
  --primary-color: var(--dark-blue-color);
  --secondary-color: #d4d5cf;
  --gray-color: #777777;

  --card-shadow-color: rgba(255, 255, 255, 0.1);

  --text-color: var(--white-color);

  background: var(--black-color);
}

.mainCSS {
  margin: 20px 60px;
  margin-bottom: 120px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it is on top of other elements */
}
