/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* styles/colors/colors.css */
:root {
  /* COLOR */
  --primary-color: #4176FC;
  --secondary-color: #FDFFF7;
  --dark-blue-color: #293854;
  --black-color: #201F24;

  /* FONT */
  --primary-font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--white-color);
  color: var(--black-color);
}

main {
  margin: 20px 60px;
  margin-bottom: 120px;
}

.sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it is on top of other elements */
}