/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* styles/colors/colors.css */
:root {
  /* COLOR */
  --primary-color: #4176FC;
  --secondary-color: #FDFFF7;
  --dark-blue-color: #293854;
  --black-color: #201F24;
  --white-color: #FEFEFE;
  --lighter-primary-color: #4176fc8a;
  --gray-color: #c1c1c1;

  /* FONT */
  --primary-font-family: '__Montserrat_b1da2a', '__Montserrat_Fallback_b1da2a';
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--white-color);
  color: var(--black-color);
  font-family: var(--primary-font-family);
}

.mainCSS {
  margin: 20px 60px;
  margin-bottom: 120px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it is on top of other elements */
}
