.aboutUsContainer {
    display: flex;
}

.aboutUsContainer h4 {
    margin-top: 0;
}

.imgBorder {
    border-radius: 10px;
    margin-left: 50px;
}

.aboutUsContainer p {
    text-align: justify;
    line-height: 1.5;
    font-size: 14px;
}

.headerContainer {
    display: flex;
    align-items: center;
}
.aboutUsTitle {
    font-size: 40px;
    margin-bottom: 20px;
}
.aboutUsTitleDecor {
    margin-left: 5px; 
    transform: rotate(40deg);
}
