.margin{
    margin-left: 150px;
    margin-right: 150px;
}
.maindiv {
    display: flex;
}
.img_border {
    border-radius: 10px;
    margin-left: 50px;
}
.p {
    text-align: justify;
    line-height: 1.5;
    margin: 20px 0;
    font-size: 16px;
}
.headerContainer {
    display: flex;
    align-items: center;
}
.h3_text {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.deco_image {
    margin-left: 1px; /* Adjust spacing as needed */
    transform: rotate(40deg);
}
