.dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
  color: var(--black-color);
}

.dropdownSelected {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid var(--gray-color);
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  color: var(--text-color);
}

.dropdownOptions {
  position: absolute;
  background-color: var(--secondary-color);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.dropdownOption:last-child {
  border-radius: 0 0 2px 2px;
}

.dropdownOption {
  padding: 10px;
  cursor: pointer;
}

.dropdownOption:hover {
  background-color: var(--gray-color);
  color: var(--text-color);
}
