.favoriteWrapper {
  margin: 20px;
  margin-bottom: 60px;
  color: var(--text-color);
}

.favoriteTitle {
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--gray-color);
  margin-bottom: 20px;
}

.favoriteProductList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  overflow-y: scroll;
}
