.footer {
    height: 320px;
    padding: 30px 60px;
    background-color: var(--primary-color);
    border-top: 1px solid var(--blue-color);
    color: var(--secondary-color);
}

.footerLink {
    text-decoration: none;
    color: var(--secondary-color);
}

.footerContent {
    display: flex;
    height: 100%;
}

.footerItems {
    display: flex;
    flex-direction: column;
}

.footerItem_1 {
    width: 25%;
}

.footerLogo {
    width: 210px;
    height: 70px;
}

.footerLogo img {
    width: 100%;
    height: 100%;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footerInfo h4 {
    margin: 0;
    margin-top: 30px;
}

.footerInfo a {
    border: none;
}

.footerItems p {
    gap: 20px;
    margin: 0;
    font-size: 13px;
}

.footerItems .footerLink{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerItems .footerLink svg {
    display: none;
    height: 12px;
}

.footerItems .footerLink:hover svg {
    display: block;
}

.footerItem_1 .footerInfo span {
    font-weight: bold;
}

.footerList {
    padding: 0;
    margin: 8px 0;
    list-style: none;
    display: flex;
    gap: 15px;
}

.footerList a{
    text-decoration: none;
}

.footerIcon {
    width: 20px;
    height: 20px;
    color: var(--secondary-color);
}

.footerItem_2 {
    width: 35%;
}

.footerItem_2 h4 {
    margin: 0;
}

.footerItem_3 {
    width: 20%;
}

.footerItem_3 h4 {
    margin: 0;
}

.footerItem_4 {
    width: 20%;
}

.footerItem_4 h4 {
    margin: 0;
}


