.listContent {
    margin-top: 40px;
}

.listTitle {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid var(--black-color);
}

.listCover {
    display: flex;
    flex-wrap: wrap; /* Cho phép các sản phẩm xuống hàng */
    margin-top: 20px;
    gap: 50px;
}

