.listContent {
    margin-top: 40px;
}

.listTitle {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid var(--primary-text-color);
}

.listCover{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}