/* components/NavigationBar.module.css */
  .navbar {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
  }
  
  .navList {
    margin: 0;
    padding: 8px 0;
    list-style: none;
    display: flex;
    gap: 60px;
  }
  
  .navItem a {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
  }

  .navbarIcon {
    width: 25px;
    height: 25px;
  }
  
  .navbarItemDropdown {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .itemArrow {
    display: none;
    width: 10px;
  }

  .navItem:hover .navbarItemDropdown .itemArrow {
    display: block;
  }

  .navItemContent {
    display: none;
    position: relative;
    padding: 0;
  }

  .navItem:hover .navDropdownMenu {
    display: block;
  }

  .navItem:nth-child(4):hover {
    padding-bottom: 10px;
  }

  .navDropdownMenu {
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    margin-top: 10px;
    width: 100%;
    height: 500px;
    background-color: var(--primary-text-color);
  }