/* The animation code */
@keyframes dropdownRunIn {
  0% {
    margin-top: 20px;
  }
  100% {
    margin-top: 5px;
  }
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* components/NavigationBar.module.css */
.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  font-family: var(--primary-font-family);
}

.navList {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 60px;
}

.navItem {
  padding: 8px 0;
}

.navItem .navLink {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 12px;
}

.navbarIcon {
  width: 25px;
  height: 25px;
}

.navbarItemDropdown {
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbarItemDropdown::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: var(--primary-color);
  transition: all 0.8s ease;
}

.navItem:hover .navbarItemDropdown::after {
  width: 100%;
}

.navItem:hover > .navDropdownMenu {
  display: flex;
  transform: translateY(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  opacity: 1;
  visibility: visible;
}

.navItem:not(:hover) > .navDropdownMenu {
  visibility: hidden;
  transition-property: all;
  transition-duration: 0.5s;
}

.navDropdownMenu {
  position: absolute;
  z-index: 999;
  left: 0;
  width: 100%;
  height: fit-content;
  margin-top: 5px;
  padding: 30px 60px;
  padding-top: 0;
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
  box-sizing: border-box;
  background-color: var(--white-color);
  opacity: 0;
  transform: translateY(20px); /* Đặt vị trí bắt đầu từ dưới lên */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.navDropdownMenu .navContent {
  width: 100%;
  height: fit-content;
}

.navDropdownList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0;
}

.navDropdownItem {
  width: 20%;
  padding: 35px 10px 10px 0;
  box-sizing: border-box;
}

.navDropdownLink {
  width: 100%;
  font-size: 24px;
  color: var(--black-color);
  text-decoration: none;
}

.navDropdownLink:hover {
  color: var(--primary-color);
  transition: color 0.5s ease;
}
