.paymentWrapper {
    position: relative;
    width: 100%;
    height: 1460px;
    background-color: var(--white-color);
    font-family: var(--primary-font-family);
}

.leftWrapper {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--lighter-primary-color);
}

.paymentContainer {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 90%;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    height: 100%;
    padding-right: 50px;
    box-sizing: border-box;
}

.rightContainer {
  width: 43%;
  padding-left: 50px;
  box-sizing: border-box;
}

.rightContainerItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.paymentLogo {
    width: 210px;
    height: 70px;
    margin-bottom: 20px;
}

.paymentLogo img{
    width: 100%;
    height: 100%;
}

.paymentInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.paymentInput label {
    font-weight: bold;
}

.inputContent {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1.5px solid var(--black-color);
    font-size: 12px;
  }

  .paymentInput span {
    font-size: 12px;
    color: var(--gray-color);
  }

  .inputContent input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2px 0;
    border: 0;
    outline: none;
    font-size: 16px;
  }

  .inputContentPlus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .inputContentItem {
    display: flex;
    flex-direction: column;
  }

  .inputContentIcon {
    padding: 10px;
    font-size: 20px;
  } 

  .inputContentWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .halfInputContent {
    width: 48%;
  }

  .inputContent .inputText {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2px 0;
    border: 0;
    outline: none;
    font-size: 16px;
  }

  .paymentCheckbox {
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  
  .paymentCheckbox input{
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 10px;
  }

  .paymentCheckbox span{
    color: var(--black-color);
  }

  .inputNote {
    margin-bottom: 8px;
  }

  .countrySelectorWrapper {
    display: flex;
    justify-content: space-between;
  }

  .paymentMethodWrapper {
    display: flex;
    flex-direction: column;
    border: 1.5px solid black;
    cursor: pointer;
  }

  .paymentMethodWrapper:nth-child(1) {
    border-bottom: 0;
  }

  .paymentMethodWrapper span {
    color: var(--black-color);
  }

  .paymentMethodItems {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 12px;
  }

  .paymentMethodItems input{
    width: 20px;
    height: 20px;
  }

  .paymentButtonCancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: var(--white-color);
  }

  .paymentCancelIcon {
    width: 14px;
    height: 16px;
    transform: rotate(-90deg);
  }

  .paymentCancelIconRotate {
    transform: rotate(0);
    transition: transform 0.3s ease;
  }

  .paymentMethodItemsContent {
    border-top: 1.5px solid black;
  }

  .paymentMethodItemsContent span {
    display: block;
    margin: 10px 12px;
    color: var(--black-color);
  }

  .paymentButtonContent {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .paymentBackButton {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: var(--gray-color);
  }

  .paymentOrderButton {
    width: 200px;
    height: 60px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--primary-font-family);
    background-color: var(--white-color);
    padding: 8px 12px;
    border: 1px solid var(--black-color);
    cursor: pointer;
  }

  .paymentFooter {
    padding: 20px 0;
    border-top: 1px solid var(--gray-color);
  }

  .paymentFooterItems {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
  }

  .paymentFooterLink {
    color: var(--black-color);
    font-size: 13px;
  }

  .rightContainerItem {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .paymentProductImg {
    width: 60px;
    height: 60px;
  }

  .rightContainerItem span {
    font-weight: 500;
    font-size: 14px;
  }

  .rightContainerVoucher {
    display: flex;
    justify-content: space-between;
  }

  .voucherInput {
    width: 70%;
    height: 45px;
    padding: 10px 8px;
    border: 1.5px solid var(--black-color);
    box-sizing: border-box;
    outline: none;
    font-family: var(--primary-font-family);
    font-weight: 500;
  }

  .voucherButton {
    width: 20%;
    height: 45px;
    padding: 8px 12px;
    border: 1.5px solid var(--black-color);
    box-sizing: border-box;
    outline: none;
    font-family: var(--primary-font-family);
    font-weight: 500;
  }

  .paymentTotal {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .paymentTotalText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
  }

  .paymentTotalText:nth-last-child(1) {
    font-size: 18px;
    font-weight: bold;
  }
