.cardWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 350px;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.cardImg {
    height: 200px;
    margin: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: aquamarine;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
}

.cardInfo .productName {
    font-size: 11px;
}

.cardInfo .productPrice {
    color: red;
    font-weight: bold;
}

.cardBtn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.cardBtn .buyBtn {
    padding: 8px 16px;
    border: none;
    border-top: 1px solid  var(--secondary-color);
    border-left: 1px solid  var(--secondary-color);
    color: var(--primary-text-color);
    background-color: transparent;
    cursor: pointer;
}

.cardBtn .buyBtn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
