.quantityCount {
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
}

.quantityCount button {
    color: var(--text-color);
    background-color: transparent;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
.quantityCount span {
    display: inline-block;
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    color: var(--text-color);
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    font-weight: bold;
}

