.allItemWrapper {
    display: flex;
}

.allItemMenu {
    width: 18%;
}

.allItemMenu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.allItemMenu .allItemMenuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.allItemMenu .allItemMenuList .allItemMenuIcon{
    transform: rotate(-90deg);
    transition: 1s;
}

.allItemMenu .allItemMenuList:hover .allItemMenuIcon{
    transform: rotate(0);
}

.allItemContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 82%;
    margin-left: 20px;
}

.menuBrands {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.allItemContainer {
    display: flex;
    flex-direction: column;
}

.allItemContainerHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.filterSelector {
    width: 80px;
    height: 30px;
    outline: none;
    border: 1px solid black;
}

.filterSelector option{
    border-radius: 15px;
    background-color: red;
}