.userInfoWrapper {
  margin: 20px;
  color: var(--text-color);
}

.userInfoTitle {
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--gray-color);
  margin-bottom: 20px;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.userInfoInput {
  display: flex;
  gap: 20px;
}

.userInfoInputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputLabel {
  margin-bottom: 5px;
}

.inputField {
  width: 100%;
  height: 46px;
  border-radius: 2px;
  padding: 0 15px;
  border: 1px solid var(--gray-color);
  box-sizing: border-box;
  background-color: var(--secondary-color);
  font-size: 16px;
  font-family: var(--primary-font-family);
}

.inputField:focus {
  outline: none;
}

.updateBtn {
  align-self: center;
  width: 350px;
  height: 50px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 2px;
  color: var(--white-color);
  font-weight: 600;
  font-size: 18px;
  font-family: var(--primary-font-family);
  cursor: pointer;
}

.userInfoInputWrapper_Gender {
  width: 40%;
}

.userInfoInputWrapper_DOB {
  width: 50%;
}
